// set variables
$slds-load-webfonts: false;
$font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

@import '@salesforce-ux/design-system/scss';

@import './darkmode_variables.scss';

// scope dark-mode in class
html.dark-mode {
  @import './darkmode_overrides.scss';
  background: #2d2e2f;

  .slds-icon-text-default {
    fill: var(--darkmode-default-icon-color);
  }
}

// extra big avatar for sidebar
.slds-avatar_xlarge,
.slds-avatar--xlarge {
  width: 10rem;
  height: 10rem;
}

html {
  background-color: #fff;
}

html,
body {
  height: 100%;
  transition:background-color .25s, color .25s;
}

.site-page-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.site-main-wrapper {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}

.site-sidebar-menu {
  padding-bottom: 2rem;
}

.site-sidebar {
  min-width: 16rem;
  border-right: 1px solid #d8dee6;
}

.site-sidebar a,
.site-sidebar button {
  // display: block;
  padding: 0.875rem 2rem 0.8125rem;
  // line-height: 1.25;
  // color: #4f6a92;
  // width: 100%
}

.site-sidebar a:focus,
.site-sidebar a:hover,
.site-sidebar button:focus,
.site-sidebar button:hover {
  text-decoration: none;
}

.site-skip-content {
  position: relative;
  z-index: 10001;
}

.site-skip-content a {
  display: block;
  background: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

.site-skip-content.site-skip-content a {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  width: 100% !important;
}

.site-skip-content_navigation {
  display: none;
}

@media (max-width: 47.9375em) {
  .site-skip-content_navigation {
    margin-top: 6rem;
    display: block;
  }
}

.site-logo {
  text-align: center;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

.site-logo a {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  color: #16325c;
}

.site-logo .site-logo__graphic {
  display: inline-block;
  margin-bottom: 0.625rem;
  width: 100%;
  height: 3rem;
  background: url('/assets/images/logo.svg') 50% 50% no-repeat;
}

@media (min-width: 48em) {
  .site-logo {
    margin-top: 0;
    padding-top: 1.5rem;
  }

  .site-logo a {
    margin-bottom: 1.75rem;
  }

  .site-logo .site-logo__graphic {
    height: 4.25rem;
  }
}

@media (max-width: 47.9375em) {
  .site-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.site-navigation {
  margin-top: 1rem;
  overflow: hidden;
  overflow-y: auto;
}

.site-main:focus {
  outline: none;
}

.theme-switcher .slds-icon_container {
  background-color: $brand-primary;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.theme-switcher svg{
  fill: white;
}

.dark-mode .theme-switcher svg{
  fill: darkslategray;
}

// remove border from last item in lists
slds-has-dividers_bottom > .slds-list__item:last-child,
.slds-has-dividers_bottom > .slds-item:last-child,
.slds-has-dividers--bottom > .slds-list__item:last-child,
.slds-has-dividers--bottom > .slds-item:last-child {
  border-bottom: 0;
}

// border for progress list
.slds-has-dividers_bottom
  > .slds-progress__item
  > .slds-progress__item_content {
  border-bottom: 1px solid #dddbda;
}

.slds-has-dividers_bottom
  > .slds-progress__item:last-child
  > .slds-progress__item_content {
  border-bottom: 0;
}
